---
layout: page
title: The Campers
sidebar_right:
  sidebars: false
---
<p>I teach a week-long game programming class every June for <a href="http://landryacademy.com/camps.htm" targt="_blank">Landry Academy’s academic summer camps</a> in Banner Elk, NC. Students range in age from 13 to 18. Most have never written a program before. In just five short days, though, the campers have designed and built a working game which they demonstrate to the campers from the other fields of study on the last day.</p>

<p>Before the Landry camps, I had never taught high school students. My only experience with teaching was as a corporate trainer. I very much enjoy my annual trip to NC. The enthusiasm and creativity of the students are contagious. It’s a nice break from my day job of writing applications for companies and governmental agencies.</p>

<p>Here are the descriptions of previous camps, along with videos and downloads of the games that the students made.</p>

<a name="2011"></a>
<hr/>

{% assign styleWrapper        = "background-color:#eee; border:1px solid #888;"%}
{% assign styleImagesHeader   = "background-color:#eee; padding:0 10px; padding-top:10px; line-height:150px;"%}
{% assign styleImagesLeaders  = "background-color:#ccc; padding:0 10px; margin:5px;"%}
{% assign styleImagesStudents = "background-color:#ddd; padding:0 10px; margin:5px;"%}
{% assign styleImagesShowcase = "margin:5px; float:right; text-align:center;"%}
{% assign clearFloats = "<div style='clear:both;'></div>" %}

<div style="{{ styleWrapper }}">
<h2 style="margin-left:10px;">Camp 2011 <small><a href="#2011"><i class="glyphicon glyphicon-link"></i></a> ("Angrier Birds")</small></h2>
<div style="{{ styleImagesHeader }}">
{% include images.incl style=styleImagesLeaders  images="instructor,2011/instructor.png,Instructor: Joseph Hall|counselor,2011/counselor-01.png,Counselor: Derek Garde" %}
{% include images.incl style=styleImagesStudents images="student,2011/student-01.png,Keith|student,2011/student-02.png,John|student,2011/student-03.png,Joshua|student,2011/student-04.png,Luke|student,2011/student-05.png,Matthew|student,2011/student-06.png,Albert|student,2011/student-07.png,Addison" %}
</div>

<div style="padding:10px;">

<div style="{{ styleImagesShowcase }}">
  <img alt="screenshot" src="2011/gameplay.png" /><br/><br/>
  <a href="http://www.youtube.com/watch?v=DQLPodfc99o" target="_blank" class="btn btn-primary">Gameplay Video</a>
  <a href="2011/game-src-2011.zip" class="btn btn-primary">Download Code</a>
</div>

<p>This collection of students really spoiled me. I couldn't have had a better group to teach for my first year at Landry. They had a contagious passion that made the insane deadline (4 days from concept to demo) achievable. During almost every block of time that the camp had scheduled free-time for the kids, you’d find them in the classroom, hard at work on the project.</p>

<p>The class was fairly evenly split between a scrolling shooter (like Defender or 1942) or an Angry Birds clone. We ultimately decided on an original game that combined the two concepts. Four birds (controlled by four players) fly along, shooting pigs with seeds and dropping eggs on them. There are three types of pigs: normal pigs (on the ground and in trees), pig-a-troopers (who parachute in), and the king pig (who tosses baby pigs at you).</p>

<p>The game’s art is a mix of characters from the Angry Birds game, random images we found via Google searches, and some hills that were drawn the night before we gave our class presentation to the students from the other academic areas. All the in-game sound effects were created by the students. I think the effects came out great, and I think they really add a lot to the final game. The music was downloaded from the website of a talented composer who recreated the Angry Birds theme in Garage Band.</p>

{{ clearFloats }}
</div>
</div>

<a name="2012"></a>
<hr/>

<div style="{{ styleWrapper }}">
<h2 style="margin-left:10px;">Camp 2012 <small><a href="#2012"><i class="glyphicon glyphicon-link"></i></a> ("Robot Slayer")</small></h2>
<div style="{{ styleImagesHeader }}">
{% include images.incl style=styleImagesLeaders  images="instructor,2012/instructor.png,Instructor: Joseph Hall|counselor,2012/counselor-01.png,Counselor|counselor,2012/counselor-02.png,Counselor: Derek Garde" %}
{% include images.incl style=styleImagesStudents images="student,2012/student-01.png|student,2012/student-02.png|student,2012/student-03.png|student,2012/student-04.png,Addison|student,2012/student-05.png,Mickey" %}
</div>

<div style="padding:10px;">

<div style="{{ styleImagesShowcase }}">
  <img alt="screenshot" src="2012/gameplay.png" /><br/><br/>
  <a href="http://www.youtube.com/watch?v=PXcdAyESLr0" target="_blank" class="btn btn-primary">Gameplay Video</a>
  <a href="2012/game-src-2012.zip" class="btn btn-primary">Download Code</a>
</div>

<p>We had a brainstorming session on the first day, while we waited for the installers to do their magic, planning what type of game we would build. I was campaigning for a Rock Band / Guitar Hero style game, but the class decided to design a platformer game (ala Super Mario Bros.). A cartoony hero walks around a factory / lab complex jumping on the heads of killer robots to destroy them. There are two flavors of robot: the Hoverbot who quickly floats towards the player, and the Tankbot who moves a little slower, but fires missiles at the player at regular intervals. When a robot is destroyed, it drops a gear (likely) or a heart (less frequently). The player’s score is the number of gears collected.</p>

<p>The game’s art is a collection of doodles that I did in Adobe Illustrator, feverishly churning out assets each evening in an attempt to stay a step ahead of the class. The main character is the result of a tutorial that I followed over at idleworm.com.</p>

<p>Along the way, the students learned about how simple, manageable components of a game are implemented, and how those simpler parts combine to make a more-complex whole. They also learned about the tools that game developers use to create games, and how to trim and prioritize an overly ambitious design to meet a looming deadline.</p>

<p>The plan to make a platformer turned out to be too much work for a week-long project. We cut features, and ultimately decided to turn the project into a survival game.</p>

{{ clearFloats }}
</div>
</div>

<a name="2013"></a>
<hr/>

<div style="{{ styleWrapper }}">
<h2 style="margin-left:10px;">Camp 2013 <small><a href="#2013"><i class="glyphicon glyphicon-link"></i></a> ("Tim Gumchewer")</small></h2>
<div style="{{ styleImagesHeader }}">
{% include images.incl style=styleImagesLeaders  images="instructor,2013/instructor.png,Instructor: Joseph Hall|counselor,2013/counselor-01.png,Counselor: Chelsea" %}
{% include images.incl style=styleImagesStudents images="student,2013/student-01.png|student,2013/student-02.png|student,2013/student-03.png|student,2013/student-04.png|student,2013/student-05.png" %}
</div>

<div style="padding:10px;">

<div style="{{ styleImagesShowcase }}">
  <img alt="screenshot" src="2013/gameplay.png" /><br/><br/>
  <a href="http://www.youtube.com/watch?v=rm6kNZeW9Pw" target="_blank" class="btn btn-primary">Gameplay Video</a>
  <a href="2013/game-src-2013.zip" class="btn btn-primary">Download Code</a>
</div>

<p>On the first day, I typically have a brainstorming session with the students while the tools are installing. With past classes, we compile a list of game genres that we might like to explore, come to a consensus on which to implement, then dive deeper into the details of the selected game.</p>

<p>This year, the students gravitated immediately to a concept based loosely on Temple Run. Rather than considering other genres, they kept tossing out ideas for the platformer-style game. It was obvious what our project would be early into the process. I keep campaigning for a Rock Band clone, but it never seems to take hold of anyone’s interest. :)</p>

<p>In addition to art I created and images we scavenged from the web, we took video of one of the camp counselors in several poses, including a slow motion roll. The students cut the images from the still frames of the video, and the counselor (hi, Tim!) was our game’s main character.</p>

<p>The game supports two players, each of which has to run an identical gauntlet of obstacles. The player that makes it the furthest distance before losing three health points is the winner. The original design included power-ups and more elaborate obstacles. In the end, we realized that the full game would to be too much work for a week-long project. We cut features, but the end result was still a very nice game.</p>

{{ clearFloats }}
</div>
</div>

<a name="2014"></a>
<hr/>

<div style="{{ styleWrapper }}">
<h2 style="margin-left:10px;">Camp 2014 <small><a href="#2014"><i class="glyphicon glyphicon-link"></i></a> ("Haunted House Crashers")</small></h2>
<div style="{{ styleImagesHeader }}">
{% include images.incl style=styleImagesLeaders  images="instructor,2014/instructor.png,Instructor: Joseph Hall|counselor,2014/counselor-01.png,Counselor: Hanna" %}
{% include images.incl style=styleImagesStudents images="student,2014/student-01.png|student,2014/student-02.png|student,2014/student-03.png|student,2014/student-04.png|student,2014/student-05.png|student,2014/student-06.png|student,2014/student-07.png|student,2014/student-08.png|student,2014/student-09.png,Lexy|student,2014/student-10.png" %}
</div>

<div style="padding:10px;">

<div style="{{ styleImagesShowcase }}">
  <img alt="screenshot" src="2014/gameplay.png" /><br/><br/>
  <a href="https://youtu.be/OQGd7tnQSa0" target="_blank" class="btn btn-primary">Gameplay Video</a>
  <a href="2014/game-src-2014.zip" class="btn btn-primary">Download Code</a>
</div>

<p>2014's camp was the largest group of students yet -- 10 teens. After the typical back and forth of brainstorming ideas for our game, we zeroed in on an idea inspired by Castle Crashers.</p>

<p>Players travel from room to room in a dungeon, fighting off baddies as they progress. The game supports one to four players -- the difficulty increasing with each player added.</p>

<p>The students had some great ideas. In fact, they kept throwing out new feature concepts every day. Unfortunately, we just have a week. So most of those features fell prey to the merciless chopping block, better known as our deadline.</p>

<p>Rather than moving from room to room, the hoards come to the players in waves. There's a nice mixture of baddies for the player to lob fireballs at, some of which require multiple hits before being banished.</p>

{{ clearFloats }}
</div>
</div>

<a name="2015"></a>
<hr/>

<div style="{{ styleWrapper }}">
<h2 style="margin-left:10px;">Camp 2015 <small><a href="#2015"><i class="glyphicon glyphicon-link"></i></a> ("Beard Bashers")</small></h2>
<div style="{{ styleImagesHeader }}">
{% include images.incl style=styleImagesLeaders  images="instructor,2015/instructor.png,Instructor: Joseph Hall|counselor,2015/counselor-01.png,Counselor: Addi" %}
{% include images.incl style=styleImagesStudents images="student,2015/student-01.png,Carlton|student,2015/student-02.png,Jess|student,2015/student-03.png,Pierce|student,2015/student-04.png,Alexys|student,2015/student-05.png,Lee|student,2015/student-06.png,Jake|student,2015/student-07.png,Cage|student,2015/student-08.png,Luke|student,2015/student-09.png,James|student,2015/student-10.png,Aiden|student,2015/student-11.png,Ian|student,2015/student-12.png,Lauren|student,2015/student-13.png,Daniel|student,2015/student-14.png,Randon|student,2015/student-15.png,LaMia" %}
</div>

<div style="padding:10px;">

<div style="{{ styleImagesShowcase }}">
  <img alt="screenshot" src="2015/gameplay.png" /><br/><br/>
  <a href="http://youtu.be/oREgZaWxdIE" target="_blank" class="btn btn-primary">Gameplay Video</a>
  <a href="2015/game-src-2015.zip" class="btn btn-primary">Download Code</a>
</div>

<p>The largest group yet, and (IMO) the best game yet. On the first day, we brainstormed close to a dozen game ideas. After a little back and forth, we settled on a fighting game which pits camp counselors against each other. Since there are so many counselors, with few distinguishing features, it was decided that art would be a problem. So we move to the idea of having teachers battle each other. After saying it out loud, we realized that might not be a great idea either. We then decided that we would have robots fight to the death for our amusement. We settled on placeholder art featuring vikings &mdash; and that's what we ended up using for Friday's demonstration.</p>

<p>In previous camps, I lead the students through writing the code as we went. That meant that we completed features at the rate of our slowest typist. With 15 kids, that wasn't going to work. So, I focused their attention to the screen and we went at a pace that every student could <b>comprehend</b> each added feature, pushing the changes to <a href="https://github.com/CodeCamps/Camp2015" target="_blank">GitHub</a> at regular intervals so that they could tweak and play with the code to solidify their understanding. This was also the first year that I actually assigned homework each night &mdash; an important step in ensuring that they understood the concepts from each session.</p>

<p>We had stumbled upon a great strategy for meeting the incredibly short deadline. The flow was smooth. We actually finished the game by Thursday (the night before the demo) and had time to squash some bugs, add some bells and whistles, and even have a tournament on the last day of camp to see which student would present our creation to the other campers. (Spoiler alert: It was LaMia!)</p>

<p>The end result was a game that could easily be published to one of the many app stores. I'm proud of the work that the students did. Their creativity and willingness to follow through on the implementation made this one of the most enjoyable weeks of camp for me.</p>

{{ clearFloats }}
</div>
</div>

<a name="2016"></a>
<hr/>

<div style="{{ styleWrapper }}">
<h2 style="margin-left:10px;">Camp 2016 <small><a href="#2016"><i class="glyphicon glyphicon-link"></i></a> ("Insomnia")</small></h2>
<div style="{{ styleImagesHeader }}">
{% include images.incl style=styleImagesLeaders  images="instructor,2016/instructor.png,Instructor: Joseph Hall|counselor,2016/counselor-01.png,Counselor: Bobbie" %}
{% include images.incl style=styleImagesStudents images="student,2016/student-01.png,Suzanne|student,2016/student-02.png,Sarah|student,2016/student-03.png,Dylan|student,2016/student-04.png,Slater|student,2016/student-05.png,Andrew|student,2016/student-06.png,Alyssa|student,2016/student-07.png,Kyra|student,2016/student-08.png,Alexys|student,2016/student-09.png,Declan|student,2016/student-10.png,Jonathon|student,2016/student-11.png,Graham|student,2016/student-12.png,Noah|student,2016/student-13.png,Ben|student,2016/student-14.png,John|student,2016/student-15.png,Richard" %}
</div>

<div style="padding:10px;">

<div style="{{ styleImagesShowcase }}">
  <img alt="screenshot" src="2016/gameplay.png" /><br/><br/>
  <a href="#null" target="_blank" class="btn btn-default btn-disabled disabled">Gameplay Video</a>
  <a href="#null" target="_blank" class="btn btn-default btn-disabled disabled">Download Code</a>
</div>

<p>Another ginormous group. The brainstorming quickly zeroed in on a castle crawler kind of game. It was the first year that we've repeated a genre, but the concept was unique, and I was confident that we could get further than the previous year if the students were motivated enough.</p>

<p>As with the previous year, I focused their attention to the screen and we went at a pace that every student could comprehend each added feature, pushing the changes to GitHub at regular intervals so that they could tweak and play with the code to solidify their understanding. With the ambitious goals that we had set for the week, though, I don't honestly feel that I kept the tempo slow enough for everyone (even those without prior coding experience) to keep pace.</p>

<p>This year brought <a href="{{ site.baseurl }}/news/2016/06/20/camp-2016.html">many firsts</a>, some of which caused headaches and slowed our progress. While my instructor feedback from the students was generally positive, many of those bumps in the road were mentioned by the students. Apparently, they didn't go unnoticed. =)</p>

<p>Even with all the technical hurdles and the ambitious design, we still had a playable game ready for the Friday assembly's demonstration. The students contributed almost all the art assets and sounds (whereas prior years were more of a scour-the-web-for-content affair). The end result is a bit unpolished, but it's entirely theirs. I think we built something that they can really be proud of.</p>

<p>I learned a lot this year as well. With larger groups and the use of new techs, I need to provide more structure, I need to "be less chill" (the last couple of years brought some minor discipline issues), and I need to take the time to cover basic programming concepts up front (even if it means less time for the game). I've intentionally kept things unplanned and fluid for six years so that the students could drive every aspect of the game, but that strategy won't work as well moving forward. I hope the students enjoyed the week, and I hope they learned something. But, I'll always feel that they didn't get the best from me because of the hiccups that we encountered throughout the week. Structure, planning, and a bona fide curriculum should allow us to focus on the learning, and give everyone a chance to get their hands on the code.</p>

{{ clearFloats }}
</div>
</div>

<a name="2017"></a>
<hr/>

<div style="{{ styleWrapper }}">
<h2 style="margin-left:10px;">Camp 2017 <small><a href="#2017"><i class="glyphicon glyphicon-link"></i></a> ("???????")</small></h2>
<div style="{{ styleImagesHeader }}">
{% include images.incl style=styleImagesLeaders  images="instructor,future/instructor.png,Instructor: Joseph Hall|counselor,future/counselor.png" %}
{% include images.incl style=styleImagesStudents images="student,future/student.png,You?|student,future/student.png,You?|student,future/student.png,You?|student,future/student.png,You?|student,future/student.png,You?|student,future/student.png,You?|student,future/student.png,You?|student,future/student.png,You?|student,future/student.png,You?|student,future/student.png,You?|student,future/student.png,You?|student,future/student.png,You?|student,future/student.png,You?|student,future/student.png,You?|student,future/student.png,You?|student,future/student.png,You?" %}
</div>

<div style="padding:10px;">

<div style="{{ styleImagesShowcase }}">
  <img alt="screenshot" src="future/gameplay.png" /><br/><br/>
  <a href="#null" target="_blank" class="btn btn-default btn-disabled disabled">Gameplay Video</a>
  <a href="#null" target="_blank" class="btn btn-default btn-disabled disabled">Download Code</a>
</div>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean congue suscipit sem, ut aliquam augue elementum ac. Mauris ut elementum justo. Maecenas et arcu sit amet nisi maximus efficitur. Vivamus scelerisque massa commodo arcu condimentum, eget porttitor leo blandit. Morbi sem dolor, euismod eget eleifend at, dignissim at nulla. Phasellus a aliquet turpis. Sed lacinia blandit cursus. Sed magna libero, efficitur vitae felis vitae, aliquet porttitor neque.</p>

<p>Cras faucibus varius risus in imperdiet. Aliquam erat volutpat. Vestibulum aliquam felis nec lacus fermentum, eget egestas nulla porttitor. Integer faucibus ex ornare mi sodales, in sodales lorem tincidunt. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent ultrices ex sit amet mauris fringilla ullamcorper.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean congue suscipit sem, ut aliquam augue elementum ac. Mauris ut elementum justo. Maecenas et arcu sit amet nisi maximus efficitur. Vivamus scelerisque massa commodo arcu condimentum, eget porttitor leo blandit. Morbi sem dolor, euismod eget eleifend at, dignissim at nulla. Phasellus a aliquet turpis. Sed lacinia blandit cursus. Sed magna libero, efficitur vitae felis vitae, aliquet porttitor neque.</p>

<p>Cras faucibus varius risus in imperdiet. Aliquam erat volutpat. Vestibulum aliquam felis nec lacus fermentum, eget egestas nulla porttitor. Integer faucibus ex ornare mi sodales, in sodales lorem tincidunt. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent ultrices ex sit amet mauris fringilla ullamcorper.</p>

{{ clearFloats }}
</div>
</div>

<hr/>